/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left  {float:left}
.right  {float:right}
.wrapper {width:100%;overflow:hidden}
.main {margin:0 auto;	width:960px;position:relative}
.bg1 {background:#090909}
/* ============================= main layout ====================== */
a {color:#5f870e;text-decoration:none;outline:none}
a:hover {color:#fff}
h1 {padding:39px 0 0 9px;float:left}
h2 {font-size:33px;color:#fff;font-weight:700;line-height:1.2em;padding:30px 0 11px 0;letter-spacing:-1px}
h3 {font-size:27px;color:#fff;font-weight:700;line-height:1.2em;padding:33px 0 17px 0;letter-spacing:-1px}
h3.color1 {padding:0 0 7px 0}
p {padding-bottom:24px}
/* ============================= header ====================== */
header {height:179px}
#page1 header {height:662px}
#page2 #content{ padding-bottom:20px;}
#page2 #content2{ padding-bottom:40px;}
#menu  {padding-top:30px}
#menu > li  {float:left;padding-right:5px}
#menu .last {padding-right:0px}
#menu > li > a {width:188px;display:block;font-size:17px;color:#fff;text-transform:uppercase;font-weight:400;height:50px;line-height:58px;border-top:1px solid #1f1f1f;background:#000;text-align:center;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;position:relative}
#menu > li > a:hover, #menu > .active > a {background:#3366CC;border-color:#999999}
#menu > li > a span {display:block;position:relative}
#slider {position:absolute;top:110px;left:1px;width:100%;height:453px;overflow:hidden;z-index:1}
.items {display:none}
.pagination {position:absolute;bottom:82px;right:274px;z-index:2}
.pagination li {float:left;padding-left:3px}
.pagination a {display:block;width:17px;height:17px;background:url(../images/buttons.png) right 0 no-repeat;text-indent:-9999px}
.pagination a:hover, .pagination .current a {background-position:left}
.banner {position:absolute;top:87px;z-index:2;right:32px;color:#a0a0a0;width:350px}
.title {font-size:47px;line-height:1.2em;letter-spacing:-2px;display:block;padding-bottom:9px}
.title .color2 {color:#000}
.title span {display:block;margin-top:-17px}
.banner .button1 {font-size:28px;padding:0 24px;height:49px;line-height:46px;margin-top:-1px;letter-spacing:-2px}
.banner .button1:hover {background:#3366CC;color:#999999}
.signature {text-align:right;display:block;color:#5f870e;line-height:20px;padding-top:6px}
.signature strong {display:block;color:#fff}
/* ============================= content ====================== */
#content, #content2 {padding:0 20px}
#content {padding-bottom:9px}
#content2 {padding-bottom:21px}
.pad_bot1 {padding-bottom:12px}
.marg_right1 {margin-right:40px}
.marg_right2 {margin-right:20px}
.no_pad { padding-bottom:0}
.color1 {color:#5f870e}
.color2 {color:#fff}
.button1 {display:inline-block;font-size:22px;color:#fff;padding:0 18px;background:#3366CC;height:45px;line-height:44px;position:relative;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;letter-spacing:-1px;margin-top:-4px}
.button1:hover {background:#3366CC;color:#999999}
.list1{}
.list1 a {color:#808080;padding-left:15px;background:url(../images/marker_1.png) 0 5px no-repeat}
.list1 a:hover {color:#5f870e}
.list2{}
.list2 li {padding-left:15px;background:url(../images/marker_1.png) 0 9px no-repeat;padding-bottom:12px}
figure {padding-top:2px}
.dropcap_1 {float:left;background:url(../images/dropcap_1.png) 0 0 no-repeat;width:45px;height:45px;text-align:center;font-size:33px;line-height:42px;color:#fff;font-weight:700;margin-right:15px;margin-top:2px;margin-bottom:10px}
.address span {float:left;width:88px}
.address a {text-decoration:underline}
#content3	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 50px 0px;
	max-width: 1280px;
	min-width: 780px;
	max-height:400px;
	padding: 35px 0px 30px 0px;
	
	}